
body {
    background-color: #2991e2;
    font-family: 'Montserrat', sans-serif;
    

}



form {
    padding: 20px 40px 40px 40px;
    text-align: center;
    display: block;
   
}

img {
    width: 75%;
    margin-bottom: 20px;
}

input {
    padding: 20px 0px 30px 0px;
}

.label {
    text-align: left;
    font-size: 18px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 3px;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   text-align: center;
   width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#getStartedBtn {
    margin-top: 50px;
    border-color: #f7811e;
    border-width: 3px;
    background-color: #2991e2;
    color: white;
    font-size: 25px;
    width: 50%;

}

.btn-primary {
    border-color: #f7811e;
    background-color: #2991e2;
    color: white;
    font-family: 'Fredoka One', cursive;


}



