
body {
    background-color: #2991e2;
    font-family: 'Montserrat', sans-serif;
    height:100%;
}

form {
    padding: 20px 0 40px 0;
    margin: 0;
    width: 80%;
   
}

img {
    width: 75%;
    margin-bottom: 20px;
}

input {
    padding: 20px 0px 30px 0px;
}

.container {
    width: 75%;
}

.form-check-label {
    margin-right: 20px;
    margin-left: 5px;
}

.addedFriend {
    margin-bottom: 6px;
}

.labels {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

#ratingsGroup {
    margin: 0;
}

#addFriendBtn {
    color: #fff;
    padding: 0;
    margin-top: 5px;
}

.titleText {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 20px;
    
}

#footer {
   position: relative;
   left: 0;
   bottom: 0;
   text-align: center;
   width: 100%;
   
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#getStartedBtn {
    margin-top: 50px;
    border-width: 3px;
    font-size: 25px;
    width: 50%;
    margin-bottom: 50px;

}

.btn-primary {
    border-color: #f7811e;
    background-color: #2991e2;
    color: white;
    font-family: 'Fredoka One', cursive;
    border-width: 2px;
    width: 30%;
    font-size: 25px;
}

.btn-primary:hover{
    background-color: #f7811e;
}

.btn-search {
    border-color: #f7811e;
    background-color: #2991e2;
    color: white;
    font-family: 'Fredoka One', cursive;
    border-width: 2px;
    font-size: 25px;
}

.btn-search:hover{
    background-color: #f7811e;
}

.movieImg:hover{ 
    position: relative; 
    top: -10px;
} 

.posterDiv {
    position: relative;
    float: left;
    width: 100%;
    max-width: 400px;
}

.posterDiv img {
    width: 100%;
    height: auto;
}

.posterDiv .deleteBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f7811e;
    text-align: center;
}

.posterDiv .customDeleteBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f7811e;
    text-align: center;
}

@media (max-width: 991px) {
    img {
        width: 100%;
    }
    
    form {
        width: 100%;
    }

    .container {
        width: 90%;
        text-align: center;
    }

    .labels {
        font-size: 20px;
    }

    .form-check-label {
        font-size: 16px;
        margin-right: 15px;
        text-align: center;
    }

    .btn-primary {
        width: 50%;
        font-size: 20px;
    }

    #getStartedBtn {
        width: 70%;
    }
    
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}



/* CSS styling for scrolling search bar */
/*https://codepen.io/CBeghin/pen/HeuiF*/
